<footer class="text-center bg-dark p-1 text-light animate__animated animate__backInLeft">
    <br>
    <p>SmartCar 2020 &copy;</p>
</footer>
<div class="container-fluid">
    <div class="row bg-dark text-white p-3 text-center">
        <div class="container col-sm-12 p-4"></div>
            <div class="col-sm-6">
                <i class="fab fa-github fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h1>GitHub</h1>
                <br>
                <p>Hi, visit our github project and follow its progress any time, don't forget to give us some feedback about the SmartCar!</p>
            </div>
    </div>
</div>