<%- include('ele/header')%>
<%- include('ele/navbar')%>

<div class="container text-center mt-5 mb-5">
    <h3 class="text-center">About us...</h3>
    <p class="text-center">We are a group of 4 students how hate themself strongly enough to be signed in the UTCH BIS</p>
</div>
<div class="container text-center mt-5 mb-5">
    <h3 class="text-center">About the project...</h3>
    <p class="text-center">It is a smart car intended to be a participant in the UTCH science fair, also it is been develop for entertaiment purposes.</p>
    <h4>How it works?</h4>
    <p>The car is controlled by a mobile Android application, it records the travelled distance and store it in a Mongo Cluster to be showed in the Web App</p>
</div>
<%- include('ele/scripts')%>
<%- include('ele/footer')%>