<%- include('ele/header')%>
<%- include('ele/navbar')%>

<div class="container-fluid bg-light">
    <h3 class="text-center pt-5">Welcome to the project SmartCar!</h3>
    <img class="text-center mx-auto d-block img-fluid pb-5" width="40%" src="..\img\UnrelatedImage.jpg" alt="Cube.png">
</div>

<%- include('ele/scripts')%>
<%- include('ele/footer')%>